# Exploratory Data Analysis

In [1]:
# Load Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

## Load Dataset

In [4]:
# df = pd.read_csv('/content/drive/My Drive/Python/Datasets/Zoma.csv')
df = pd.read_csv(r'G:\My Drive\Python\Datasets\Zomato.csv')

<>:2: SyntaxWarning: invalid escape sequence '\M'
<>:2: SyntaxWarning: invalid escape sequence '\M'
C:\Users\dell\AppData\Local\Temp\ipykernel_12332\2878369854.py:2: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv('G:\My Drive\Python\Datasets\Zomato.csv')

In [5]:
df.head()

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,300,Buffet
4,Grand Village,No,No,3.8/5,166,600,Buffet